body{
    background:cadetblue;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    
}

.container{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    padding: 50px;
    align-items: center;
    border: 1px solid black;
    display: flex;
    background-color: gray;
    border-radius: 5px;
    
}

.items{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    font-size: 20px;
    
}

label{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input{
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    width: 300px;
    background-color: white;
    
}

button{
    border: 1px solid black;
    width: 300px;
    height: 50px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: white;
}