nav {
    background-color: #0096C7;
    color: #FFF;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

header {
    background-color: #0096C7;
    color: #FFF;
    text-align: center;
    }

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
    }
 nav ul li{
    margin-left: 10px;
 }